<md-dialog aria-label="Expense" style="width: 80%;">
    <form name="expense">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Spend date : {{date}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="static/img/icons/exit.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout-padding>
                <div class="totalSpend">
                    <span style="font-weight: 600">Total spend: </span>
                    <span style="font-weight: 400">1000 VND</span>
                </div>
                <div class="totalSum">
                    <span style="font-weight: 600">Sum: </span>
                    <span style="font-weight: 400">1000 VND</span>
                </div>
                <div style="text-align: right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="showAddExpense()">
                        <span class="glyphicon glyphicon-plus" style="color: #bfbfbf;"></span>
                    </button>
                </div>
                <div class="n2-input" ng-show="showAdd" focus-on-show>
                    <input type="text" name="expense" class="lbExpense" ng-model="titleExpense"
                           placeholder="Enter expense title..." n2-enter="saveExpense()"/>
                </div>
                <div ng-repeat="ex in expenses" class="n2-panel">
                    <div class="panel-header" ng-bind="ex.name">
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </md-content>
        </md-dialog-content>
    </form>
</md-dialog>