<md-content md-scroll-y>
    <div layout="row">
        <span flex></span>
        <md-button class="md-primary">
            <md-icon md-svg-src="static/img/icons/add.svg" class="s24" aria-label="Cake"></md-icon>
            Add Expense
        </md-button>
    </div>
    <div layout="row" layout-xs="column" layout-align="center center" layout-wrap>
        <div flex="50" flex-xs="100">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div><div flex="50" flex-xs="100">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div><div flex="50" flex-xs="100">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Action buttons</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <span flex></span>
    </div>
</md-content>