<div class="panel-ex">
    <div class="n2-date">
        <md-icon md-svg-src="static/img/icons/date.svg" class="s24 n2-icon" aria-label="Cake" style="margin-left: 10px;"
                 ng-click="showOption()">
        </md-icon>
        &nbsp;
        <span class="n2-date-text">Month: {{setting.date}}</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="d in dates">
                <div class="n2-panel" ng-class="{'n2-active': d.active}">
                    <div class="n2-panel-header">
                        <span class="n2-day">{{d.date}}</span>
                        <span class="n2-sub-header">{{d.day}}</span>
                    </div>
                    <div class="n2-panel-body">
                        <div>{{m | currency}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


