<md-dialog aria-label="Expense" style="width: 80%;">
    <form name="expense">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Spend date : {{date}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="static/img/icons/exit.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout-padding>
                <div class="totalSpend">
                    <span style="font-weight: 600">Total spend: </span>
                    <span style="font-weight: 400">1000 VND</span>
                </div>
                <div class="totalSum">
                    <span style="font-weight: 600">Sum: </span>
                    <span style="font-weight: 400">1000 VND</span>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="expense.$invalid">
                Submit
            </md-button>
            <md-button ng-click="close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>