<md-bottom-sheet class="md-grid" layout="column">
    <div ng-cloak>
        <md-content>
            <div layout="row">
                <md-input-container flex="70" class="n2-input">
                    <md-datepicker ng-model="setting.date"></md-datepicker>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="ok()">Ok</md-button>
                <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
            </div>
        </md-content>
    </div>
</md-bottom-sheet>