<md-dialog aria-label="Expense" style="width: 700px;">
    <form name="spend">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ action }} Spend</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelSpend()">
                    <md-icon md-svg-src="static/img/icons/exit.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label>Spend</label>
                    <md-icon md-svg-src="static/img/icons/spend1.svg"></md-icon>
                    <input ng-model="spendDialog.name" type="text" required name="spend">
                    <div ng-messages="spend.spend.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout-gt-sm="row" style="padding: 0 !important;">
                    <md-input-container class="md-block input-spend-c" flex-gt-sm>
                        <label>Price</label>
                        <md-icon md-svg-src="static/img/icons/price.svg"></md-icon>
                        <input ng-model="spendDialog.price" type="number" required name="price">

                    </md-input-container>
                    <md-input-container class="md-block input-spend-c">
                        <label>Money</label>
                        <md-icon md-svg-src="static/img/icons/money-n.svg"></md-icon>
                        <input value="{{ spendDialog.price | currency}}" disabled>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <md-icon md-svg-src="static/img/icons/note.svg"></md-icon>
                    <textarea ng-model="spendDialog.description" md-maxlength="150" rows="2"
                              md-select-on-focus></textarea>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="saveSpend()" ng-disabled="spend.$invalid">
                Submit
            </md-button>
            <md-button ng-click="cancelSpend()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>