<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button ng-click="openSideNavPanel()" class="md-icon-button">
            <md-icon>
                <i class="material-icons md-24">menu</i>
            </md-icon>
        </md-button>
        <h1>Expense Management</h1>
    </div>
</md-toolbar>
<div ncy-breadcrumb></div>
<div layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <div style="font-size: 18px;">{{user.firstName}} {{user.lastName}}</div>
                    <div ng-bind="user.email"></div>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                    <md-tooltip>Close Side Panel</md-tooltip>
                    <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <md-list ng-repeat="menu in menus">
                <md-list-item ui-sref="{{menu.url}}" ng-click="closeSideNavPanel()">
                    <img ng-src="static/img/icons/{{menu.icon}}.svg" width="32px" height="32px" style="margin-right: 5px;"/>
                    <p>{{menu.name}}</p>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding" ng-view="">
            <div ui-view></div>
        </md-content>
    </div>
</div>